<!-- VIEWS/CREATIONS details.js -->

<%- include('../partials/header.ejs') %>

    <h1><strong>><%= creation.name %></strong</h1>

        <table>
            <tr>
                <td><%= creation.augment %></td>
                <td><%= creation.rarity %></td>
                <td><%= creation.weaponType || creation.armorType || creation.itemType %></td>
                <td><%= creation.elementDamage %></td>
                <td><%= creation.element %></td>
                <td><%= creation.physDescription %></td>
                <td><%= creation.propertyDescription %></td>
            </tr>
        </table>

<%- include('../partials/header.ejs') %>