<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name = 'viewport' content = 'width=device-width, initial-scale=1.0'>
    <title>Creations Details Page</title>
</head>
<body>
    <h1><strong><%= creation.name %></strong</h1>
        <table>
            <tr>
                <td><%= creation.image %></td>
                <td><%= creation.augment %></td>
                <td><%= creation.rarity %></td>
                <td><%= creation.weaponType || creation.armorType || creation.itemType %></td>
                <td><%= creation.elementDamage %></td>
                <td><%= creation.element %></td>
                <td><%= creation.physDescription %></td>
                <td><%= creation.propertyDescription %></td>
            </tr>
        </table>
</html>