<!-- VIEWS/CREATIONS details.js -->

<%- include('../partials/header.ejs') %>

    <h1><strong><%= creation.name %></strong></h1>

        <table>
            <tr>
                <td><%= creation.augment %></td>
                <td><%= creation.rarity %></td>
                <td><%= creation.weaponType || creation.armorType || creation.itemType %></td>
                <td><%= creation.elementDamage %></td>
                <td><%= creation.element %></td>
                <td><%= creation.physDescription %></td>
                <td><%= creation.propertyDescription %></td>
            </tr>
        </table>

    <script scr="../../public/main.js"></script>
    <button id="update-button">Update <%= creation.name %></button>
    <button><a href="">Delete <%= creation.name %></a></button>

<%- include('../partials/header.ejs') %>