<!-- VIEWS/CREATIONS details.js -->

<%- include('../partials/header.ejs') %>
<% if (creation.weaponType) {
    editCreation = "editWeapon"
}
if (creation.armorType) {
    editCreation = "editArmor"
}
if (creation.itemType) {
    editCreation = "editOther" 
} %>

    <h1 class='image-mask-darken'><strong><%= creation.name %></strong></h1>

        <table>
            <tr>
                <td><%= creation.augment %></td>
                <td><%= creation.rarity %></td>
                <td><%= creation.weaponType || creation.armorType || creation.itemType %></td>
                <td><%= creation.elementDamage %></td>
                <td><%= creation.element %></td>
                <td><%= creation.physDescription %></td>
                <td><%= creation.propertyDescription %></td>
            </tr>
        </table>

    <button id="update-button"><a href="/<%= editCreation %>/<%= creation._id %>">Update <%= creation.name %></a></button>
    <button id="delete-button"><a href='/delete/<%= creation._id %>'>Delete <%= creation.name %></a></button>

<%- include('../partials/footer.ejs') %>
