
<%- include('../partials/header.ejs') %>

    <h1>See all the user created items!</h1>
    <nav>
        <a href="/new">Create a new item!</a>
    </nav>
    <table>
        <tr class='table'>
            <th>Name</th>
            <th>Item Type</th>
            <th>Rarity</th>
        </tr>
        <% creations.forEach(creation => { %>
        <tr>
            <td> <%= creation.name %></td>
            <td> <%= creation.weaponType || creation.armorType || creation.itemType %></td>
            <td> <%= creation.rarity %></td>
            <td><a href="/details/<%= creation._id %>">View Details</a></td>
        </tr>
        <% }) %>
    </table>

<%- include('../partials/header.ejs') %>