<!-- VIEWS/CREATIONS show.js -->

<%- include('../partials/header.ejs') %>

    <h1 class='image-mask-darken'>See all the user-created items!</h1>
    <nav>
        <a href="/new">Create a new item!</a>
    </nav>
    <br>
    <table>
        <tr class='table'>
            <th><em>Name</em></th>
            <th><em>Item Type</em></th>
            <th><em>Rarity</em></th>
        </tr>
        <% creations.forEach(creation => { %>
        <tr>
            <td> <strong> <%= creation.name %> </strong> </td>
            <td> <strong> <%= creation.weaponType || creation.armorType || creation.itemType %> </strong> </td>
            <td> <strong> <%= creation.rarity %> </strong> </td>
            <td><a href="/details/<%= creation._id %>">View Details</a></td>
        </tr>
        <% }) %>
    </table>

</body>
</html>